.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    font-size: 42px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    outline: none;
    padding-right: 80px;
}

.input:focus {
    border-bottom-color: var(--button-bg);
}

.input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.currency {
    color: var(--main-blue);
    font-size: 32px;
    position: absolute;
    right: 0;
    margin-left: 8px;
}

/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 480px) {
    .input {
        font-size: 32px;
    }

    .currency {
        font-size: 24px;
    }
}
