.container {
    position: relative;
    width: 100%;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    width: 100%;
    font-size: 42px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    outline: none;
    font-weight: 600;
}

.input:focus {
    border-bottom-color: var(--button-bg);
}

.input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.currency {
    position: absolute;
    right: 0;
    color: var(--main-blue);
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    pointer-events: none;
}

/* Убираем стрелки у input type="number" */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    -moz-appearance: textfield;
}

/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 480px) {
    .input {
        font-size: 32px;
    }

    .currency {
        font-size: 24px;
    }
}
